body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #ebebeb;
}

#ofensiva {
  color: rgb(235, 102, 13);
}

#coroas {
  color: rgb(233, 194, 21);
}

#vidas {
  color: red;
}

.tamanho-fonte-nav {
  font-weight: 500;
  color: #008ff9;
}

.divisor-nav {
  height: 5px;
  width: 95%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(60, 133, 241);
}

.fundo-main {
  margin-top: 25px;
  background-color: rgb(27, 209, 109);
  border-radius: 10px;
  /* box-shadow: 1px 1px 15px -5px #000000; */
}
.fundo-progresso {
  background-color: rgb(23, 113, 247);
}

.texto-bold {
  font-weight: 600;
}

.fundo-liga {
  margin-top: 25px;
  background-color: white;
  border-radius: 10px;
}
